<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--logo-->
    <link rel="icon" href="/static/img/favicon.ico" />
    <title>属性分布图</title>
    <!-- 引入 bootstrap.min.css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- 引入 echarts.js -->
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <br><br><br>
    <div class="row col-md-10 offset-md-1">
        <div class="col border border-success">
            <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
            <div id="pie_0" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_1" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_2" style="width: 400px;height:400px;"></div>
        </div>
        <div class="w-100"></div>
        <div class="col border border-success">
            <div id="pie_3" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_4" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_5" style="width: 400px;height:400px;"></div>
        </div>
        <div class="w-100"></div>
        <div class="col border border-success">
            <div id="pie_6" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_7" style="width: 400px;height:400px;"></div>
        </div>
        <div class="col border border-success">
            <div id="pie_8" style="width: 400px;height:400px;"></div>
        </div>
         <div class="w-100"></div>
         <div class="col border border-success">
            <div id="pie_9" style="width: 400px;height:400px;"></div>
        </div>
    </div>
    <br><br><br>
</div>
<script src="/static/js/attributes.js"></script>
</body>
</html>